<template>
  <header>
    <h1>All Countries in the World</h1>
  </header>

  <div id="nav">
    <router-link :to="{name: 'RegionList', params : {id : 'Europe'}}"> Europe </router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'Africa'}}">Africa</router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'America'}}">America</router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'Asia'}}">Asia</router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'Oceania'}}">Oceania</router-link>
  </div>

  <div v-for="country in countries" class="country">
    <router-link :to="{name: 'CountryDetails', params : {id : country.alpha2Code}}">
      <h2>{{ country.name }}</h2>
    </router-link>


  </div>




</template>

<script>

export default {
  name: "CountriesList.vue",
  data(){
    return {
      countries: []
    }
  },
  mounted() {
    fetch("https://localhost:8080/countries")
    .then(resp=> resp.json())
    .then(data => this.countries = data)

  }


}
</script>

<style>

header{
  color: white;
  background-color: dodgerblue;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align-all: center;

}

#nav{
  padding: 20px;
}

#nav a{
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
  border-radius: 3px;

}

#nav a.router-link-exact-active{
  color: black;
  background: limegreen;
}

.country{
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  max-width: 400px;
}

.country a{
  text-decoration: none;
  color: darkblue;
}


</style>