<template>
  <header>
    <div v-if="country">
      <h1> {{country.name}} </h1>
    </div>
  </header>
  <div id="nav">
    <router-link to="/">World</router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'Europe'}}">Europe</router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'Africa'}}">Africa</router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'America'}}">America</router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'Asia'}}">Asia</router-link>
    <router-link :to="{name: 'RegionList', params : {id : 'Oceania'}}">Oceania</router-link>
  </div>

  <div v-if="country" class="country2">
    <h2> Capital: {{country.capital}}</h2>
    <h2> Region: {{country.region}}</h2>
    <h2> Calling Codes: {{country.callingCodes.toString()}}</h2>
  </div>
</template>

<script>
export default {
  name: "CountryDetails.vue",
  data(){
    return {
      id : this.$route.params.id,
      country: null
    }
  },
  mounted() {
    fetch("https://localhost:8080/countries/"+ this.id)
        .then(resp=> resp.json())
        .then(data => this.country = data)

  }


}
</script>

<style scoped>

.country2{
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 400px;
  color: black;

}


</style>