<template>
  <header>
    <h1> Countries in {{this.id}}</h1>
  </header>
  <div id="nav">
  <router-link to="/">World</router-link>
  </div>
  <div v-for="country in countries" class="country">
    <router-link :to="{name: 'CountryDetails', params : {id : country.alpha2Code}}">
      <h2>{{ country.name }}</h2>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "RegionList.vue",
  data(){
    return {
      id : this.$route.params.id,
      countries: []
    }
  },
  mounted() {
    fetch("https://localhost:8080/region/" + this.id)
        .then(resp=> resp.json())
        .then(data => this.countries = data)
  }
}
</script>

<style scoped>




</style>