<script setup>

import Countries from './components/CountriesList.vue'



</script>

<template>
  <header>
  </header>
  <main>

  <router-view/>
  </main>
</template>

<style>
@import './assets/base.css';
#app{
  text-align: center;
}

</style>
